.account-frame-child {
  height: 82px;
  width: 1440px;
  position: relative;
  background-color: var(--color-darkolivegreen);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.rectangle-pair,
.rectangle-pair1 {
  right: 0;
  bottom: 0;
  background-color: var(--color-darkturquoise);
}
.rectangle-pair {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.rectangle-pair1 {
  z-index: 2;
}
.icon-yoga2,
.rectangle-pair-parent,
.rectangle-pair1 {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.rectangle-pair-parent {
  margin: 0 !important;
  right: 0;
  bottom: 0;
}
.icon-yoga2 {
  z-index: 3;
  object-fit: contain;
  transform: scale(1.156);
}
.wrapper-icon-yoga2 {
  height: 70px;
  width: 85px;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  z-index: 3;
}
.home-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs);
}
.smart-fit2 {
  margin: 0 !important;
  height: 109px;
  width: 236px;
  position: absolute;
  bottom: -22px;
  left: 157px;
  font-size: var(--font-size-21xl);
  font-weight: 800;
  font-family: var(--font-inknut-antiqua);
  color: var(--color-midnightblue);
  display: inline-block;
  white-space: nowrap;
  z-index: 3;
}
.account-frame {
  align-self: stretch;
  background-color: var(--color-darkolivegreen);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-8xs) var(--padding-60xl) var(--padding-6xs)
    var(--padding-8xl);
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 99;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-18xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.congratulations-on-taking,
.welcome-to-the {
  margin: 0;
}
.congratulations-on-taking-container {
  height: 420px;
  width: 1368px;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.account-completion,
.congratulations-on-taking-the-wrapper {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.congratulations-on-taking-the-wrapper {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl) 0 var(--padding-3xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-7xl);
  color: var(--color-black);
  font-family: var(--font-inknut-antiqua);
}
.account-completion {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslategray);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 0 0 458px;
  gap: 64px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 725px) {
  .account-frame {
    padding-right: var(--padding-20xl);
    box-sizing: border-box;
  }
  .account-completion {
    gap: 64px 0;
  }
}
@media screen and (max-width: 450px) {
  .congratulations-on-taking-container {
    font-size: var(--font-size-2xl);
  }
  .account-completion {
    gap: 64px 0;
  }
}
